.none {
    display: none;
}

.error {
    color: red;
    margin: 5px 5px 0;
    font-family: serif;
    font-style: italic;
    font-size: 10pt;
}

.iconShow{
    float: right;
}

span {
    margin-top: 10px;
    margin-left: -40px;
    cursor: pointer;
    color: #555;

}