.alert {
    position: fixed;
    left: 50%;
    top: 150px;
    margin-left: -150px;
    width: 300px;
    z-index: 100;
    overflow: hidden;
}

.close {
    margin: 0;
}

.message {
    margin-top: 20px;
    word-wrap: break-word;
}
